<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768467304259-0g794fokgvoctcu08pc8oeenncj3k5e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768467304259-0g794fokgvoctcu08pc8oeenncj3k5e6</string>
	<key>API_KEY</key>
	<string>AIzaSyCXonuWnaKMeQnN4wfvRk5s3PorsXRuiww</string>
	<key>GCM_SENDER_ID</key>
	<string>768467304259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikita.LoginApp1</string>
	<key>PROJECT_ID</key>
	<string>loginapp1-f3e2d</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp1-f3e2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768467304259:ios:9fc1a4085e0c89a1b179f6</string>
	<key>DATABASE_URL</key>
	<string>https://loginapp1-f3e2d.firebaseio.com</string>
</dict>
</plist>